body{

font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line height: 1.6;
color:333#;
background:focus-visible;

}

.container{

max-width: 1200px;
margin: auto;
padding: 0%;
text-align: center;


}

header h1{

font-size: medium;
opacity: 9;

}

#country. #currency{

display: inline-block;
margin: 1rem;


}
footer{


background: brown;
color: azure;
text-align: center;
padding: 1.5rem 0;


}
section{

padding: 3rem 0;

}
section h2{

font-size: 2rem;
margin-bottom: 1rem;
text-align: center;
color: coral;

}
section p{
max-width: 800px;
margin: auto;
text-align: center;

}
img{

max-width: 80%;
height: auto;
border-radius: 6px;
display: block;
margin: 0%;



}



